body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(120deg,  #2E4552, #4F9B8F)
}

.Show-Drugs h2{
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
}

.Show-Drugs Link{
  color: aqua;
}

.date-input{
  border-color: black;
  border: 10px;
}

#date-input{
  border-color: black;
  border: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


